.login {
    display: grid;
    place-items: center;
    height: 100vh;
    background-color: black;
}

.login>img {
    width: auto;
    height: 200px;
}

.login>a {
    padding: 20px;
    border-radius: 99px;
    text-decoration: none;
    background-color: coral;
    color: white;
    font-weight: 500;
}